
.footer {
  display: block;
  position: fixed;
  width: 100%;
  background-color: #343a40;
  text-align: center;
  bottom: 0px;
  color: white;
  height: 40px;
  padding: 10px;
  font-size: 0.9em;
}
