<div class="container principal">
  <div>
    <div class="alert {{classeMensagem}}" role="alert" *ngIf="mensagem && mensagem.length > 0">
      {{ mensagem }}
    </div>
  </div>
  <h3 class="titulo">Cadastrar Lista de Compras</h3>
  <div class="row">
    <div class="form-group col-lg-6">
      <label>Filtrar por nome do produto: </label>
      <input type="text" class="form-control" placeholder="Informe o filtro" [(ngModel)]="filtroLista">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h4 class="titulo principal descricao">Lista de produtos</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody *ngIf="produtos && produtos.length">
          <tr *ngFor="let produto of produtosFiltrados">
            <td>{{produto.nome || '-'}}</td>
            <td>{{produto.categoriaDescricao || '-'}}</td>
            <td>{{produto.descricao || '-'}}</td>
            <td style="text-align: center">
              <div class="btn-group">
                <button class="btn btn-sm btn-success" tooltip="Selecionar" (click)="adicionarItemALista(produto)">
                  <i class="fa fa-check-circle"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!produtos.length">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Nenhum produto encontrado!
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-lg-6">
      <h4 class="titulo principal descricao">Sua lista{{ nomeLista ? ': ' + nomeLista : null }}</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Qtde</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody *ngIf="produtos && produtosSelecionados.length">
          <tr *ngFor="let produto of produtosSelecionados">
            <td>{{produto.nome || '-'}}</td>
            <td>{{produto.categoriaDescricao || '-'}}</td>
            <td>{{produto.descricao || '-'}}</td>
            <td>{{produto.qtde}}</td>
            <td style="text-align: center">
              <div class="btn-group">
                <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluir(produto)">
                  <i class="fa fa-eraser"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!produtosSelecionados.length">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Sua lista está vazia!
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
      <form [formGroup]="cadastroForm">
        <div class="row" *ngIf="produtosSelecionados && produtosSelecionados.length > 0">
          <div class="form-group col-lg-8">
            <label>Nome da lista</label>
            <input class="form-control" type="text" placeholder="Nome da lista" formControlName="nome"
              (change)="mudarTituloLista($event.target.value)"
              [ngClass]="{'is-invalid': cadastroForm.get('nome').hasError('required') && cadastroForm.get('nome').touched}">
            <div *ngIf="cadastroForm.get('nome').hasError('required') && cadastroForm.get('nome').touched"
              class="invalid-feedback">
              Nome da lista é obrigatório.
            </div>
          </div>
          <div class="col-lg-4" style="padding-top: 5.8%">
            <button type="button" class="btn btn-dark" (click)="salvarLista()">
              Salvar
            </button>&nbsp;
            <button type="button" class="btn btn-secondary" (click)="limparLista()">
              Limpar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
