<div class="container principal">
  <div class="alert {{classeMensagem}}" role="alert" *ngIf="mensagem && mensagem.length > 0">
    {{ mensagem }}
  </div>
  <h3 class="titulo">Cadastro de Produto</h3>
  <div class="pagina-inicial descricao">
    <p>Usuário, você pode sugerir o cadastro de produto, caso não esteja satisfeito com as opções do sistema.
    Os administradores do sistema são responsáveis por aprovar ou não as sugestões.
    Caso seja aprovada, em breve seu produto será apresentado como um das opções no Cadastro de lista de compras.</p>
    <p>Obrigada por colaborar com o SGLC!</p>
  </div>
  <div class="principal">
    <form [formGroup]="cadastroForm">
      <div class="row">
        <div class="form-group col-lg-4">
          <label>Nome</label>&nbsp;
          <i class="fas fa-exclamation obrigatorio" tooltip="Obrigatório"></i>
          <input class="form-control" type="text" placeholder="Nome" formControlName="nome"
            [ngClass]="{'is-invalid': cadastroForm.get('nome').hasError('required') && cadastroForm.get('nome').touched}">
          <div *ngIf="cadastroForm.get('nome').hasError('required') && cadastroForm.get('nome').touched"
            class="invalid-feedback">
            Nome é obrigatório.
          </div>
        </div>
        <div class="form-group col-lg-3 dropdown">
          <label>Categoria</label>&nbsp;<i class="fas fa-bug"
            tooltip="Não encontrou a categoria que procurava? Você pode sugerir uma nova.
            Selecione esse ícone, por favor." (click)="sugerirCategoria()"></i>
          <select class="form-control" formControlName="categoriaId">
            <option value="null">Selecione</option>
            <option *ngFor="let cat of categorias" value="{{cat.id}}">{{cat.nome}}</option>
          </select>
        </div>
        <div class="form-group col-lg-5">
          <label>Descrição</label>
          <input class="form-control" type="text" placeholder="Descriçao (se necessário)" formControlName="descricao">
        </div>
      </div>
      <div class="row">
        <p class="col-lg-12 botao">
          <button type="button" class="btn btn-dark" (click)="salvar()">
            Salvar
          </button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="limpar()">
            Limpar
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
