<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" [routerLink]="['../']" title="Página Inicial">
      <i class="fas fa-shopping-cart" [routerLink]="['../']" title="Página Inicial">&nbsp;</i>SGLC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active active">
          <a class="nav-link" [routerLink]="['../cadastrar-lista-de-compra']"
            title="Cadastrar Lista de Compra">Cadastrar Lista de Compra</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['../operador/cadastro-produto']"
            title="Cadastrar Produto">Cadastrar Produto</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['../lista-de-compra']"
            title="Suas Listas de Compra">Suas Listas de Compra</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['../login']"
            title="Login/Logout">Login/Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
