<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" [routerLink]="['../']" title="Página Inicial">
      <i class="fas fa-shopping-cart" [routerLink]="['../']" title="Página Inicial">&nbsp;</i>SGLC
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['../cadastrar-lista-de-compra']">Criar Lista de Compra</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['../lista-de-compra']">Suas Listas de Compra</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
